[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
uvicore = {version = "==0.1.*", extras = ["database", "web"]}

[dev-packages]
pytest = "==6.2.*"
pytest-cov = "==2.11.*"
pytest-asyncio = "==0.14.*"

[requires]
python_version = "3.9"
