[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
<pipfile-uvicore>

[dev-packages]
pytest = "==9.1.1"
pytest-cov = "==7.1.0"
pytest-asyncio = "==1.4.0"

[requires]
python_version = "3.14"
