[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
<pipfile-uvicore>

[dev-packages]
pytest = "==8.0.*"
pytest-cov = "==4.1.*"
pytest-asyncio = "==0.18.*"

[requires]
python_version = "3.9"
